.el-card[data-v-26084dc2] {
  overflow: visible;
}
.header[data-v-26084dc2] {
  background: #409EFF;
  margin-top: -30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

